* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    color: #fff;
    
}

body {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color:white;
}

.page {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.heading {
    font-size: 1.4rem ;
}

#page-1 {
    background-image: url("./images/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#page-2 {
    background-color: rgb(255, 255, 255);
}

.toggle-bar {
    max-height: fit-content;
    max-width: fit-content;
    display:none;
}

.toggle-bar img {
    max-height: 40px;
    max-width: 40px;
    color: white;
}

#nav-bar {
    width: 86%;
    margin: 0px auto;
    position: relative;
    top: 29px;
    background: #00000099;
    backdrop-filter: blur(30px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding-inline: 30px;
    padding-block: 10px;
    overflow: hidden;
}

#logo-img {
    width: 100%;
    height: auto;
}

#nav-tabs {
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vmin;
}

#order-btn {
    color: #fff;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    border: 0px;
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
}

#page-1-text {
    position: absolute;
    top: 38%;
    left: 7%;
    font-weight: 500;
    
}

#about-container {
    background-color: #e9e7e7;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 100px;
    padding-block: 100px;
    box-sizing: border-box;
}

#about-img {
    width: 47%;
}

#about-text {
    width: 45%;
    height:auto;
    padding: 60px;
    overflow: hidden;
}
  
#about-img img {
    height: auto;
    width: 100%;
}

#about-text-head {
    line-height: 50px;
    font-size: 42px;
    font-weight: 600;
}

#about-text p {
    font-size: 1em;
    margin: 5%;
}

#about-text button {
    color: #fff;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    border: 0px;
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
}

#product-container {
    background-color: #e9e7e7;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    padding-inline: 100px;
    box-sizing: border-box;
}

#product-container-head {
    text-align: center;
    width: 55%;
}

#product-container-head span {
    line-height: 50px;
    font-size: 42px;
    font-weight: 500;
}

#product-container-head p {
    margin-top:20px;
    font-size : 17px;
}

#product-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.grid-item {
    text-align: left;
    padding: 30px;
    padding-top:40px;
    width: 400px;
    height: 350px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:left;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.grid-item span {
    align-self: flex-start  ;
    font-weight: 600;
    font-size: 25px;
    line-height: 33.6px;
}

.grid-item p {
    color: #454545;
    margin-top:20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

#span-2 {
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
}

#span-2 span , #span-2 p {
    color: #fff;
}

#presence-container, #commitment-container{
    background-color: #e9e7e7;
    color: black;
    display: flex;
    align-items: center;
    padding-inline : 100px;
    width : 100%;
    height:auto;
    padding-block:80px;
}

#our-presence-img, #our-commitment-img{
    width:50%;
}

#presence-text ,#commitment-text {
    background-color:#fff;
    padding:50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 10px 0px #00000040;
}

#presence-text {
    position: relative;
    left:-40px;
}

#commitment-text {
    position: relative;
    left:40px;
}

#presence-text span , #commitment-text {
    font-size:42px;
    font-weight:500;
    line-height:50px;
}

#presence-text-body , #commitment-text-body {
    margin-top: 20px;
    color: #454545;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#choose-us-container {
    background-color: #e9e7e7;
    display:flex;
    flex-direction:column;
    align-items : center;
    justify-content: center;
    padding:100px;
}

#choose-us-head {
    font-size:42px;
    line-height:50px;
    color:black;
    font-weight:600;
    margin-block:40px;
}

#choose-us-grid{
    display:flex;
    flex-direction:row;
    gap:50px;
}

.choose-us-grid-item {
    padding-block : 20px;
    padding-inline:30px;
}

.grid-item img {
    width: 100px;
    height: 100px;
    margin:20px;
    justify-self: left;
}

#span2 {
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
}

#span2 , #span2 p {
    color:#fff;
}

.grid-item h2 {
    font-weight:500;
}

#get-started-container {
    background-color: #e9e7e7;
    display:flex;
    width:100%;
    height: auto;
    padding: 100px;
}

#get-started-container img {
    width : 45%;
    height : auto;
}

#get-started-form {
    width:55%;
    padding-block:60px;
    padding-inline:30px;
}

#get-started-form form {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
}

#get-started-form span {
    color:black;
}

#get-started-form h2 {
    font-size:32px;
    font-weight: 500;
}

.form-group {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    font-style: normal;
    resize: none;
    height: 150px;
}

.form-group button {
    padding: 10px;
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.form-group button:hover {
    scale:1.05;
}

#final-cta-container {
    background-color: #e9e7e7;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    width:100%;
    height:380px;
}

#inner-cta {
    display : flex;
    align-items :center;
    justify-content: left;
    height: 90%;
    width: 85%;
    padding:50px;
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
    font-size : 50px;
    font-weight : 600;
    border-radius: 30px;
}

#final-cta-container img{
    height: 400px;
    position: absolute;
    right: 300px;
}

#footer-container {
    background-color: #e9e7e7;
    color: black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:5%;
}

#footer-brand {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#footer-text {
    font-size: 14px;
    color: #454545;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding:30px 5%;
}

.hover-animation {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-animation:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.gradient-text {
    background: linear-gradient(180deg, #6EB645 0%, #117D8D 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer-icons {
    display:flex;
    flex-direction : row;
    justify-content:center;
    align-items:center;
    gap: 20px;
}

#footer-icons img {
    width : 20px;
}